@model ProyectoSeminarioControlNotas.Models.Curso

@{
    ViewData["Title"] = "Editar curso";
}

<h1>Editar curso</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idCurso" />
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="codigoCurso" class="control-label"></label>
                <input asp-for="codigoCurso" class="form-control" />
                <span asp-validation-for="codigoCurso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idCarrera" class="control-label"></label>
                <select asp-for="idCarrera" class="form-control" asp-items="ViewBag.idCarrera"></select>
                <span asp-validation-for="idCarrera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idProfesor" class="control-label"></label>
                <select asp-for="idProfesor" class="form-control" asp-items="ViewBag.idProfesor"></select>
                <span asp-validation-for="idProfesor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
