
@{
    ViewData["Title"] = "Acerca de";
}

<div class="container my-5">
    <div class="text-center mb-4">
        <h1 class="display-4">Acerca de Nosotros</h1>
        <p class="lead">Transformando la educación a través de la tecnología</p>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="card-title mb-0">¿Quiénes somos?</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="24px" width="24px"><path d="M12 3C6.5 3 2 6.6 2 11C2 13.2 3.1 15.2 4.8 16.5C4.8 17.1 4.4 18.7 2 21C4.4 20.9 6.6 20 8.5 18.5C9.6 18.8 10.8 19 12 19C17.5 19 22 15.4 22 11S17.5 3 12 3M12 17C7.6 17 4 14.3 4 11S7.6 5 12 5 20 7.7 20 11 16.4 17 12 17M12.2 6.5C11.3 6.5 10.6 6.7 10.1 7C9.5 7.4 9.2 8 9.3 8.7H11.3C11.3 8.4 11.4 8.2 11.6 8.1C11.8 8 12 7.9 12.3 7.9C12.6 7.9 12.9 8 13.1 8.2C13.3 8.4 13.4 8.6 13.4 8.9C13.4 9.2 13.3 9.4 13.2 9.6C13 9.8 12.8 10 12.6 10.1C12.1 10.4 11.7 10.7 11.5 10.9C11.1 11.2 11 11.5 11 12H13C13 11.7 13.1 11.5 13.1 11.3C13.2 11.1 13.4 11 13.6 10.8C14.1 10.6 14.4 10.3 14.7 9.9C15 9.5 15.1 9.1 15.1 8.7C15.1 8 14.8 7.4 14.3 7C13.9 6.7 13.1 6.5 12.2 6.5M11 13V15H13V13H11Z" /></svg>
                    </div>
                    <p class="card-text">Somos un grupo de estudiantes enfocados en la elaboración de un proyecto desarrollado e implementado desde cero. Nuestro objetivo fue generar una plataforma intuitiva, fácil de utilizar y servicial para el personal docente, buscando implementar una transformación digital.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="card-title mb-0">Nuestra Meta</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="24px" width="24px"><path d="M14.4,6H20V16H13L12.6,14H7V21H5V4H14L14.4,6M14,14H16V12H18V10H16V8H14V10L13,8V6H11V8H9V6H7V8H9V10H7V12H9V10H11V12H13V10L14,12V14M11,10V8H13V10H11M14,10H16V12H14V10Z" /></svg>
                    </div>
                    <p class="card-text">Consolidar un entorno digital accesible para todos los docentes, facilitando la gestión educativa y mejorando la interacción en los procesos de enseñanza mediante el uso de la tecnología garantizando así un aprendizaje de calidad para todos.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="card-title mb-0">Nuestra Misión</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="24px" width="24px"><path d="M12 22C12.8 22 13.6 21.9 14.3 21.7C13.9 21.2 13.5 20.6 13.3 19.9C12.9 20 12.4 20 12 20C7.6 20 4 16.4 4 12C4 7.6 7.6 4 12 4C12.8 4 13.5 4.1 14.2 4.3L15.8 2.7C14.6 2.3 13.3 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22M6.5 11.5L7.9 10.1L11 13.2L19.6 4.6L21 6L11 16L6.5 11.5M19 14L17.74 16.75L15 18L17.74 19.26L19 22L20.25 19.26L23 18L20.25 16.75L19 14Z" /></svg>
                    </div>
                    <p class="card-text">Desarrollar soluciones tecnológicas que impulsen la educación, promoviendo el uso de herramientas digitales en el entorno académico, brindando apoyo al personal docente y estudiantes fomentando un desarrollo significativo y colaborativo.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="card-title mb-0">Nuestra Visión</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Z" /></svg>
                    </div>
                    <p class="card-text">Ser pioneros en la implementación de plataformas tecnológicas educativas, transformando la manera en que los docentes y estudiantes interactúan con el conocimiento, y contribuyendo al desarrollo de una sociedad digitalmente capacitada.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="card-title mb-0">Nuestro Propósito</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M840-280v-276L480-360 40-600l440-240 440 240v320h-80ZM480-120 200-272v-200l280 152 280-152v200L480-120Z" /></svg>
                    </div>
                    <p class="card-text">Promover la transformación digital en el ámbito educativo, facilitando el acceso a herramientas tecnológicas para docentes y estudiantes. Fomentamos la innovación y el crecimiento profesional, enfocados en el desarrollo de jóvenes talentosos en búsqueda del éxito.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center my-5">
        <blockquote class="blockquote">
            <p class="mb-0">"Después de 5 años de constancia, persistencia, valor, sacrificio y esfuerzo, hemos alcanzado nuestra meta final: cerrar pensum y contribuir al desarrollo tecnológico del futuro."</p>
            <div> <p><footer class="blockquote-footer">Equipo de Desarrollo</footer></p> </div>
        </blockquote>
    </div>
</div>
