@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso denegado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">No cuenta con los permisos requeridos para ingresar a este módulo.</p>
    <p class="text-danger">Contacte a su administrador de TI si considera que se trata de un error.</p>
</header>
